.open_file_icon{
 -fx-background-image: url(../icons/icons8_Open_32px.png);
 -fx-background-repeat: no-repeat;
}

.button {
    -fx-font-weight: bold;
}

.tab-header-background{
    -fx-background-color: #40476d;
}
.background-kmeans{
    -fx-background-color: #bebbbb;
}
.background-other{
    -fx-background-color: #bebbbb;
}
.tab{
    -fx-pref-width : 420 ;
    -fx-pref-height : 52 ;
    
}

.jfx-hamburger-icon {
    -fx-spacing : 7 ;
    -fx-z-index: 1;
}
.jfx-hamburger-icon StackPane{
    -fx-background-color : #bebbbb;
}

/*****************************************/
.chart-symbol { /* solid circle */
    -fx-background-color: #f9d900;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}
.default-color1.chart-symbol { /* solid square */
    -fx-background-color: #a9e200;
    -fx-background-radius: 0;
}
.default-color2.chart-symbol { /* solid diamond */
    -fx-background-color: #22bad9;
    -fx-background-radius: 0;
    -fx-padding: 7px 5px 7px 5px;
    -fx-shape: "M5,0 L10,9 L5,18 L0,9 Z";
}
.default-color3.chart-symbol { /* cross */
    -fx-background-color: #0181e2;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-shape: "M2,0 L5,4 L8,0 L10,0 L10,2 L6,5 L10,8 L10,10 L8,10 L5,6 L2,
    10 L0,10 L0,8 L4,5 L0,2 L0,0 Z";
}
.default-color4.chart-symbol { /* solid triangle */
    -fx-background-color: #2f357f;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-shape: "M5,0 L10,8 L0,8 Z";
}
.default-color5.chart-symbol { /* hollow circle */
    -fx-background-color: #860061, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}
.default-color6.chart-symbol { /* hollow square */
    -fx-background-color: #c62b00, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 0;
}
.default-color7.chart-symbol { /* hollow diamond */
    -fx-background-color: #ff5700, white;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 2.5;
    -fx-padding: 7px 5px 7px 5px;
    -fx-shape: "M5,0 L10,9 L5,18 L0,9 Z";
}
.default-color8.chart-symbol { /* hollow diamond */
    -fx-background-color: #003333, white;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 2.5;
    -fx-padding: 7px 5px 7px 5px;
    -fx-shape: "M5,0 L10,9 L5,18 L0,9 Z";
}

/*table view*/
.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#303030 0%, #303030 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: black;
}
.table-view .filler{
    
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(#303030 0%, #303030 100%);
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #C0C0C0;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #DFDFDF;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #9E9E9E;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: #303030;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 1;
    -fx-background-color: transparent;
}

.table-view:row-selection:constrained-resize .column-header-background .show-hide-columns-button{
    
    -fx-background-color: #9E9E9E;
}
.table-view:row-selection:constrained-resize .column-header-background .show-hide-columns-button .show-hide-column-image{
   -fx-background-color: white; 
    
}
.table-view:row-selection:constrained-resize .virtual-flow .scroll-bar:vertical .thumb{
    
    -fx-background-color: white;
    -fx-background-radius: 0;
    
}

.table-view:row-selection:constrained-resize .virtual-flow .scroll-bar:vertical .decrement-button .decrement-arrow,
.table-view:row-selection:constrained-resize .virtual-flow .scroll-bar:vertical .increment-button .increment-arrow
{
    -fx-background-color: white;      
}

.table-view:row-selection:constrained-resize .placeholder{
    -fx-background-color: #e1eded;
    
}
.jfx-tab-pane:top .depth-container .tab-header-area .headers-region .tab-selected-line{
    -fx-background-color: #e1eded;
    
}